#root {
  padding: 2rem;
  text-align: center;
}

h3 {
  line-height: 1;
  font-weight: 400;
  font-size: 1rem;
}

.form-inputs {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

label {
  margin-right: 1rem;
}

input {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 100%;
}

.metrics {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.metrics h2 {
  margin: 0;
}

.metric-section {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.metric-section p {
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#conversion-metrics p {
  background-color: lightgreen;
}

@media only screen and (min-width: 768px) {
  h3 {
    line-height: 1.5;
  }

  .form-inputs {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .metric-section {
    flex-direction: row;
    justify-content: center;
  }

  .metric-section p {
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    height: 0.5rem;
  }
}
